@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600&display=swap');
@font-face {
    font-family: 'SF Pro Display';
    src: url(../fonts/SF-Pro-Display-Black.otf);
}
.toast_logo{
    color: #282A30;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'SF Pro Display';
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
}
.toast{
    border: none;
    border-radius: 0px!important;
    -webkit-border-radius: 0px!important;
    -moz-border-radius: 0px!important;
    -ms-border-radius: 0px!important;
    -o-border-radius: 0px!important;
}
small{
    font-family: 'Nunito';
}
.toast-body{
    font-family: 'Nunito';
}
.navbar{
    padding-top: 3%;
    padding-bottom: 4%;
    &_logo{
        color: #282A30;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: 'SF Pro Display';
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
    }
}
.nav-link{
    &_link{
        color: #282A30;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: 'Nunito';
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        -webkit-font-feature-settings: 'clig' off, 'liga' off;
        -moz-font-feature-settings: 'clig' off, 'liga' off;
        margin-right: 30%;
        &:last-child{
            margin-right: 0px;
        }
        &:first-child{
            margin-left: 70%;
        }
        &:hover{
            color: #F7515C;
        }
    }
}
.header-icons{
    &_media{
        display: none!important;
    }
    &_icon{
        margin-right: 60%;
        &:last-child{
            margin-right: 0px;
        }
    }
}
.section1{
    height: 692px;
    background: url(../img/section1_background.png);
    background-repeat: no-repeat;
    background-position: center;
    &_h6{
        padding-top: 11%;
        margin-bottom: 12%;
        color: #F7515C;
        font-family: 'Montserrat';
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
    }
    &_h1{
        margin-bottom: 10%;
        color: #282A30;
        font-family: 'Montserrat';
        font-size: 55px;
        font-style: normal;
        font-weight: 700;
        max-width: 90%;
    }
    &_block1{
        padding-left: 4%;
    }
    &_btn1{
        height: 78px;
        color: #FFF;
        font-family: 'Montserrat';
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        background: #F7515C;
        padding-left: 10%;
        padding-right: 10%;
        margin-right: 5%;
        border-radius: 0px    ;
        -webkit-border-radius: 0px    ;
        -moz-border-radius: 0px    ;
        -ms-border-radius: 0px    ;
        -o-border-radius: 0px    ;
        &:hover{
            color: #FFF;
            background-color: #F7515C!important;
        }
    }
    &_btn2{
        white-space: nowrap;
        height: 78px;
        color: #282A30;
        font-family: 'Montserrat';
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        padding-left: 10%;
        padding-right: 10%;
        background: white;
        border-radius: 0px    ;
        -webkit-border-radius: 0px    ;
        -moz-border-radius: 0px    ;
        -ms-border-radius: 0px    ;
        -o-border-radius: 0px    ;
        &:hover{
            background-color: white!important;
        }
    }
    &_block1{
        text-align: left!important;
    }
}
.modal-title{
    color: #000;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
}
.modal-body{
    color: rgba(40, 42, 48, 0.50);
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
}
.modal-content{
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}
.accordion{
    height: 1000px;
    background: url(../img/section3_img.png);
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    --bs-accordion-border-color: none;
    --bs-accordion-active-bg: white;
    --bs-accordion-btn-focus-border-color: #F7515C0D!important;
}
.accordion-sm{
    display: none;
}
.accordion-block{
    &_3{
        margin-top: 10%;
    }
}
.accordion-collapse{
    padding-bottom: 5%;
}
.accordion-item{
    background: #FFF;
    box-shadow: 20px 4px 100px 0px rgba(0, 0, 0, 0.10);
}
.accordion-header{
    white-space: nowrap;
}
.accordion-button{
    color: #282A30!important;
    font-family: 'Montserrat';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    ::after{
        background: none;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }
}
.accordion-button:not(.collapsed) {
    box-shadow: none;
  }
.accordion-button:not(.collapsed)::after{
    background: none;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
}
.accordion-button.collapsed::after{
    background: none;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
}
.section3{
    margin-top: 10%;
    &_text{
        color: rgba(40, 42, 48, 0.40);
        font-family: 'Nunito';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
    }
    &_h2{
        color: #000;
        font-family: 'Montserrat';
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
    }
    &_h1{
        font-family: 'Montserrat';
        font-size: 100px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: #FFF;
        text-shadow: 1px 0 1px #000, 
        0 1px 1px #000, 
        -1px 0 1px #000, 
        0 -1px 1px #000;
    }
}
.section4{
    margin-top: 10%;
    &_block{
        text-align: center;
    }
    &_text{
        color: rgba(40, 42, 48, 0.40);
        font-family: 'Nunito';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
    }
    &_h2{
        text-align: center;
        color: #000;
        font-family: 'Montserrat';
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
    }
    &_h1{
        text-align: center;
        font-family: 'Montserrat';
        font-size: 100px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: #FFF;
        text-shadow: 1px 0 1px #000, 
        0 1px 1px #000, 
        -1px 0 1px #000, 
        0 -1px 1px #000;
    }
}
.d-flex{
    &_text{
        margin-top: -15%;
    }
}
.section5{
    white-space: nowrap;
    margin-top: 12%;
    &_h2{
        color: #000;
        font-family: 'Montserrat';
        font-size: 100px;
        font-style: normal;
        font-weight: 600;
    }
    &_h1{
        font-family: 'Montserrat';
        font-size: 100px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: #FFF;
        text-shadow: 1px 0 1px #000, 
        0 1px 1px #000, 
        -1px 0 1px #000, 
        0 -1px 1px #000;
    }
    &_btn{
        margin-top: 10%;
        width: 70%;
        height: 84px;
        color: #FFF;
        font-family: 'Montserrat';
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        background: #F7515C;
        border-radius: 0px    ;
        -webkit-border-radius: 0px    ;
        -moz-border-radius: 0px    ;
        -ms-border-radius: 0px    ;
        -o-border-radius: 0px    ;
        &:hover{
            color: #FFF;
            background-color: #F7515C!important;
        }
    }
}
.modal-header{
    color: #282A30;
    font-family: 'Montserrat';
}
.modal-body{
    color: rgba(40, 42, 48, 0.50);
    font-family: 'Nunito';
}
.form-label{
    color: #282A30;
    font-family: 'Montserrat';
}
.modal-footer{
    &_btn{
        color: #282A30;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        background: white;
        border-radius: 0px    ;
        -webkit-border-radius: 0px    ;
        -moz-border-radius: 0px    ;
        -ms-border-radius: 0px    ;
        -o-border-radius: 0px    ;
        &:hover{
            background-color: white!important;
        }
    }
}
.form-btn{
    color: #FFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    background: #F7515C;
    border-radius: 0px    ;
    -webkit-border-radius: 0px    ;
    -moz-border-radius: 0px    ;
    -ms-border-radius: 0px    ;
    -o-border-radius: 0px    ;
    &:hover{
        color: #FFF;
        background-color: #F7515C!important;
    }
}
.footer{
    margin-top: 10%;
    &_flex{
        margin-top: 5%;
        margin-bottom: 5%;
    }
    &_flex2{
        display: none!important;
    }
    &_h1{
        cursor: pointer;
        color: #282A30;
        font-family: 'Montserrat';
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
    }
    &_p{
        color: rgba(40, 42, 48, 0.80);
        font-family: 'Nunito';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        cursor: pointer;
        &:hover{
            color: #F7515C;
        }
    }
}
.hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #282A30;;
    margin: 0;
    padding: 0;
    opacity: 100%;
  }
@import 'media';